{% extends 'base.html' %}

{% block content %}
<section class="leftColumn">
    <div class="profileFullPane">
        <div class="profilePicBorder">
            <img src="{{ url_for('static', filename='assets/dummy_prof_pic.png') }}" alt="img">
        </div>
        <div>
            <div class="userName">{{ user.name }}</div>
            <div class="userDesc">{{ user.desc }}</div>
        </div>
        {% if not is_current %}
        <button type="submit" class="follow-icon"><i class="fas fa-heart"></i></a>
        {% endif %}
    </div>
</section>
<section class="middleColumn">
    {% include 'posts_without_responses_template.html' %}
</section>
<section class="rightColumn">
    <ul>
        <li>Options</li>
        <li>If</li>
        <li>There is</li>
        <li>Ever</li>
        <li>A need</li>
        <li>For</li>
        <li>Options</li>

    </ul>
</section>

{% endblock %}
